{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>network configuration</title>
    <link rel="stylesheet" href="{% static 'home.css'%}" />
</head>
<body>
    <div class="container">
      <form action="{% url 'speednet' %}" method="POST">
        {% csrf_token %} {% for message in messages %}
        <p style="color: red">{{ message }}</p>
        {% endfor %}
        <h1>configure my network</h1>
        <p>enter your phone's API:</p> <br />
        <input type="number" placeholder="192.168.186" name="ipaddress" /><br /><br>
        <input type="submit" value="Connect" id="errorLink"><br><br>
            
        <ul>
          <li><a href="pic.html" class="register-link" > phone's API</a></li><br>
              
        </ul>
      </form>
    </div>
</body>
</html>