{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>make money online</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>    
        <nav class="navbar" >
            <div class="logo">@CASHFLOW</div>
            <ul class="nav-links">
                <a href="#home">home</a>
                <a href="{% url 'invited_friends'%} ">Dashboard</a>
                <a href="{% url 'config_net' %}">VPN Connect</a>
                <a href="{% url 'finance' %} ">financial Report</a>
                <a class="upgrade-account" id="upgrade-account">Upgrade Account</a>
                <a href="{% url 'about' %}"></a>
            </ul>
            <div class="menu-toggle" id="menu-toggle">&#9776</div> 
        </nav>
    </header>
    <h2>welcome back {{name}}</h2>
    <section class="" id="user-upgrade-hero">
        <ul class="user-upgrade">
            <div class="service"><a href="#home">alpha</a></div>
            <div class="service"><a href="{% url 'invited_friends'%} ">Normal</a></div>
            <div class="service"><a href="{% url 'config_net' %}">default</a></div>
            <div class="service"><a href="{% url 'finance' %} ">EEuser</a></div>
        </ul>
    </section>
    
    <div class="db">
        <button class="dropdowns_button"><b style="font-size: 25px;">today's  earnings</b></button>
        <div id="home" class="dropdowns">
            <h3>youtube earnings ksh 50</h3>
            <a href= "{% url 'videolist'%} ">watch video here</a>
            <a href="{% url 'mine'%} ">mine in dollars with MONEYHEIST</a>
            <a href="{% url 'online'%} ">view active tasks </a>
            <a href="meme.html">Amazon Affiliate marketting</a>
            <a href="img.html">Fingo Africa</a>
            <a href="{% url 'make'%} ">make own portifolio and websites here</a>
        
        </div>
    </div>

    <section class="info">
        <section>
            <h2>contact us</h2>
            <p>WhatsApp | Telegram | Call</p>
        </section>
        <div class="icons">
            <a href="https://wa.me/your-whatsapp-link"><i class="fab fa-whatsapp"></i></a>
            <a href="https://telegram.me/your-telegram-link"><i class="fab fa-telegram"></i></a>
            <a href="https://wa.me/your-whatsapp-link"><i class="fab fa-whatsapp"></i></a>
        </div>
        
    </section>
    <footer class="info">
        <h5>refferal link</h5>
        <a href="https://wa.me/your-whatsapp-link"><i class="fab fa-whatsapp"></i></a>
        <p>{{ referral_link }}</p>
    
        
    </footer>
    <div class="end">
        <p>&copy; Copyright 2024 by Mr. Benson</p> &nbsp;
        <a href="https://telegram.me/your-telegram-link"><i class="fab fa-telegram"></i></a>
    </div>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>

<script src="{% static 'scripts.js' %}"></script>

</body>
</html>