{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <title>App Links</title>
</head>
<body>
    <div >
        <div class="box">
            <img src="app1.png" alt="App 1" class="app">
            <h1>upwork demo</h1>
            <p>
                Start earning Pi coins effortlessly with MoneyHeist!<br>
                Join a global community mining Pi coins for free.<br>
                Secure your future with a digital currency that's on the rise.<br>
                Mine Pi coins anytime, anywhere, without draining your phone's battery.<br>
                Get started today and unlock the potential of cryptocurrency mining.<br>
                Don't miss out on this opportunity to earn passive income with Pi coins!<br><br><br>
            </p>
            
            <a href="https://example.com/app1" target="_blank" class="btn">Join upwork</a>
        </div>
        <div class="box">
            <img src="app1.png" alt="App 1" class="app">
            <h1>Toloka demo</h1>
            <p>
                Start earning Pi coins effortlessly with MoneyHeist!<br>
                Join a global community mining Pi coins for free.<br>
                Secure your future with a digital currency that's on the rise.<br>
                Mine Pi coins anytime, anywhere, without draining your phone's battery.<br>
                Get started today and unlock the potential of cryptocurrency mining.<br>
                Don't miss out on this opportunity to earn passive income with Pi coins!<br><br><br>
            </p>
            
        
            <a href="https://example.com/app2" target="_blank" class="btn">
               Join Toloka
            </a>
        </div>
        <div class="box">
            <img src="app1.png" alt="App 1" class="app">
            <h1>Clickworker demo</h1>
            <p>
                Start earning Pi coins effortlessly with MoneyHeist!<br>
                Join a global community mining Pi coins for free.<br>
                Secure your future with a digital currency that's on the rise.<br>
                Mine Pi coins anytime, anywhere, without draining your phone's battery.<br>
                Get started today and unlock the potential of cryptocurrency mining.<br>
                Don't miss out on this opportunity to earn passive income with Pi coins!<br><br><br>
            </p>
            
            
            <a href="https://example.com/app2" target="_blank" class="btn">
                Join clickworkers
            </a>
        </div>
        <div class="box">
            <img src="app1.png" alt="App 1" class="app">
            <h1>Remotask demo</h1>
            <p>
                Start earning Pi coins effortlessly with MoneyHeist!<br>
                Join a global community mining Pi coins for free.<br>
                Secure your future with a digital currency that's on the rise.<br>
                Mine Pi coins anytime, anywhere, without draining your phone's battery.<br>
                Get started today and unlock the potential of cryptocurrency mining.<br>
                Don't miss out on this opportunity to earn passive income with Pi coins!<br><br><br>
            </p>
            
            
            <a href="https://example.com/app2" target="_blank" class="btn">
                Join Remotask
            </a>
        </div>
    </div>
</body>
</html>
