{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'home.css'%}" />
  </head>
  <body>
    <div class="container">
      <form action="{% url 'register' %}" method="POST">
        {% csrf_token %} 
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        <h1>Create Account:</h1>
        <p>Username</p>
        <br />
        <input type="text" placeholder="enter username" name="uname" /><br />
        <p>password</p>
        <br />
        <input
          type="password"
          placeholder="enter password"
          name="passwd"
        /><br />
        <p>confirm password</p>
        <br />
        <input
          type="password"
          placeholder="confirm password"
          name="passwd1"
        /><br />
        <p>email</p>
        <br />
        <input type="email" placeholder="enter email" name="email" /><br />
        <input type="submit" value="SUBMIT" id="Login" />

        <ul>
          <li><a href="login.html" class="register-link" >Already have an account</a></li>
        </ul>
      </form>
    </div>
    <script>
      setTimeout(function () {
        document.getElementById("message").style.display = "none";
        document.getElementById("regform").style.display = "block";
      }, 5000);
    </script>
  </body>
</html>
