{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>status</title>
    <link rel="stylesheet" href="{% static 'rewards.css' %}">
</head>
<body>
    <table>
        <h3>withdrawal requests</h3>
        <tr>
            <th>date</th>
            <th>transaction type</th>
            <th>description</th>
            <th>amount</th>
            <th>category</th>
            <th>status</th>
            <th>action</th>
        </tr>
        <tr>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
            <td>...</td>
        </tr>
        <tr >
            <td colspan="7">you have no refferals yet </td>
        </tr>
        <tfoot>
            <th colspan="7">total: ksh 0.00</th>
        </tfoot>
    </table><br><br>
    <table>
        <tr>
            <th>name</th>
            <th>amount spent</th>
            <th>welcome bonus</th>
            <th>profits made</th>
            <th>net earnings</th>
            <th>withdrawable amount</th>
        </tr>
        <tr>
            <td>name</td>
            <td>ksh 500</td>
            <td>ksh 200</td>
            <td>ksh 0.00</td>
            <td>ksh 700</td>
            <td>ksh 0.00</td>
        </tr>
        <tr>
            <td colspan="6">No referrals to validate withdraw for profits and net eranings</td>
        </tr>
    </table>
</body>
</html>