<!-- video_list.html -->
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Video List</title>
    <link rel="stylesheet" href="{% static 'test.css' %}">
</head>
<body>
    <div >
        <h1>Video List</h1>
       {% for video in videos %}
            <iframe width="560" height="315" src="{{ video.video_url }}" frameborder="0" allowfullscreen style="margin: 10px,10px;"></iframe>
            <figcaption><h2>{{ video.title }}</h2></figcaption>
        {% endfor %}
    </div>
</body>
</html>
